
@media (max-width: 575.98px) {

  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}

  #navbarSupportedContent{
    width: 100% !important;
    background: #1C1C1C;
  }

  
.masthead-subheading{
  font-size: 48px;
  line-height: 60px;
}

.masthead-subheading span{
  font-size: 48px;
  line-height: 60px;
}

  .navbar{
      padding: 0 60px;
      margin-left: 15px;
  }

  #about-col{
    padding: 0 15px;
  }

  #about-col .about-main{
    font-size: 20px;
    line-height: 25px;
  }

  .ambitious-title{
    margin-left: 0;
    margin-right: 0;
    font-size: 30px;
    line-height: 47px;
  }

  .ambitious-title{
    width: 350px;
    height: auto !important;
    flex-wrap: wrap !important;
  }

  .young-married{
    margin-left: 10px;
    margin-right: 0;
    font-size: 25px;
    line-height: 32px;

  }

  .ambitious-content{
    margin-left: 0;
    margin-right: 0;
    font-size: 20px;
    line-height: 25px;
  }

  /*  */

  #row1-section-about{
    display: block;
  }

  #about-img{
    margin-top: 50px !important;
    align-items: center;
    justify-content: center;

  }


  #about-img{
    margin-left: 40px;
  }
  
  
  
  .img1 img{
    width: 300px;
    height: 200px;
    margin-left: 15px;
    margin-top: 0px;
    object-fit: cover;
  }
  
  .img1{
    position:absolute;
    width: 400px;
    margin-left: -15px;
    z-index:2
  }
  .img2{
    position:absolute;
    width: 410px;
    z-index:1;
    top: 16px;
  }
  
  .img2 img{
    width: 300px;
    height: 200px;
    margin-left: 15px;
    object-fit: cover;
    opacity: 0.2;
    
  }


  /*  */

  #team{
    padding-top: 250px;
    display: block;
  }

  .great-team{
    max-width: 350px;
    margin-left: 38px;
  }
  .great-team .work{
    text-align: right;
  
    font-family: ABeeZee;
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 47px;
    text-decoration-line: underline;
    color: #FFFFFF;
  }

  .great-team .team{
    font-family: ABeeZee;
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 47px;
  }

  .team-content{
    max-width: 350px;
    height: auto !important;
    margin-left: 30px;
    margin-right: -43px;
    align-items: center;
    justify-content: center;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
  }

  .team-content .team-content-first{
    height: auto !important;
    padding: 0;
    margin-left: -50px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
  }

  #journal-title{
  
    font-family: ABeeZee;
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 47px;
  }
  
  
  #journal-title span{
    font-family: ABeeZee;
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 47px;
  }

  .journal-content-title, .family-title, .consistent-title{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 32px;
  
  }
  

  .journal-content, .family-content, .consistent-content{
  
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
  }


  #col2-journal{
    margin-left: 0px;
  }

  /*  */

  .image-slide1 img {
    opacity: 0.2;
  } 
  
 .design-interior {
    opacity: 1;
  }


  #our-services-title{
    margin-left: -250px;
  }
 
  #swiper-section4, #swiper-services{
    padding: 0 30px !important;
  }

  .swiper-wrapper .image-slide1 img, .swiper-wrapper #image-slide1-first img{
    max-width: 250px !important;
    height: 350px !important;
    margin-left: -150px;
  }

  #swiper-section5{
    margin-left: -885px !important;
  }

  #swiper-slide1{
    max-width: 250px;
    height: 350px;
    margin-left: -150px;
  }

  .swiper-wrapper #image-slide1-first img{
    margin-left: -350px;
  }

  .image-slide2{
    pointer-events:none;
  }

  .swiper-wrapper #image-slide1-first .design-hover {
    margin-left: -320px;
  }

  #image-slide1{
    margin-left: -300px;
  }

  #image-slide-our-work{
    margin-left: -70px;
  }

  .design-hover {
    width: 200px;
    height: 72px;
    margin-left: -120px;
  
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 40px;

    align-items: center;
    justify-content: center;
  }

  #hover-interior{
    margin-left: -20px;
  }

  #hover-interior4{
    margin-left: -40px;
  }

  #hover-interior3{
    margin-left: -150px !important;
  }

  /*  */


  #our-work-container{
    margin-left: -100px !important;
  }


  #about-img{
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;
 
  }

  #team-image{
    margin-left:25px;
    align-items: center;
  }

  .img-team1, .img-team2{
    width: 300px;
    height: 200px;
  }
  .img-team1 img, .img-team2 img{
    width: 300px;
    height: 200px;
    object-fit: cover;
  }

  .img-team1 img{
    margin-left: -10px;
    margin-top: -10px;
  }

  .img-team2 img{
    margin-top: -30px;
    margin-left: 10px;
    opacity: 1;
  }

  /*  */

  #col-team{
    padding: 0 15px;
    max-width: 350px;
    margin-top: 100px;

  }

  .team-main{
    width: 176px;
    margin-top: -68px !important;
    margin-left: 212px ;
    text-align: right;
  
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
  
    color: #FFFFFF;
  
    opacity: 0.6;
  }


  #section-journal{
    padding: 0 20px;
  }

  /*  */
  .masthead-subheading{
    font-family: ABeeZee;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 60px;
  
    color: #FFFFFF;
    overflow: hidden;
    display: -webkit-box;
  
  }

  .masthead-subheading span{
    font-family: ABeeZee;
    font-style: italic;
    font-weight: normal;
    font-size: 50px;
    line-height: 60px;
    flex-wrap: wrap;
  
    color: #FFFFFF;
    text-decoration: underline;
  
  }

  /*  */

  #swiper-services{
    margin-left: 300px;
  }

  
  .library-content{
    margin-left: -125px;
  }

  .slider-number{
    margin-left: 340px;
  }


  .number{
    margin-left: 20px;
  }

  .swiper-pagination1{
    margin-left: -320px;
  }

  footer{
    padding: 0 20px;
  }

  #services-work, #btn-footer{
    margin-top: 30px;
    margin-left: 0;
  }

  #address-footer{
    margin-top: 30px;
    margin-left: 75px;
  }

}
/* ======================================================= */

@media (min-width: 576px) and (max-width: 767.98px) {
  
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}

  #navbarSupportedContent{
    width: 100% !important;
    background: #1C1C1C;
  }

  .navbar-brand{
    font-size: 36px !important;
    line-height: 38px !important;
    text-align: left;
  
    color: #FFFFFF;
  }

  #navbarSupportedContent ul{
    margin-left: 300px;
  }


  .navbar{
    padding: 0 40px !important;

  }

  #about-col{
    margin-left: 50px;
  }

  #row1-section-about{
    display: block;
  }

  .about-main{
    align-items: center;
    font-size: 22px;
    line-height: 27px;
  }

  .ambitious-title{
    font-size: 40px;
    line-height: 49px;
  }

  .young-married{
    margin-left: 50px;
    margin-right: 50px;
    margin-right: 0;
    font-size: 25px;
    line-height: 32px;

  }

  .ambitious-content{
    /* margin-left: -15px; */
    margin-right: 0;
    font-size: 20px;
    line-height: 25px;
  }

  /*  */


  #about-img{
    margin-top: 80px !important;
    margin-left: 80px;
  }
  
  
  
  .img1 img{
    width: 450px;
    height: 300px;
    margin-top: 0px;
    object-fit: cover;
  }
  
  .img1{
    position:absolute;
    width: 450px;
    margin-left: 50px;
    z-index:2
  }
  .img2{
    position:absolute;
    width: 450px;
    margin-left: 60px;
    z-index:1;
    top: 26px;
  }
  
  .img2 img{
    width: 450px;
    height: 300px;
    margin-left: 13px;
    object-fit: cover;
    opacity: 0.2;
    
  }


  /*  */

  #team{
    padding-top: 300px;
    display: block;
  }

  .team-main{
    margin-left: 428px !important;
  }

  .great-team .work{
    margin-left: 150px;
    text-align: right;
    font-size: 38px;
    line-height: 47px;
    text-decoration-line: underline;
    color: #FFFFFF;
  }

  .great-team .team{
    font-size: 38px;
    line-height: 47px;
  }

  .team-content{
    font-size: 20px;
    line-height: 30px;
  }

  .team-content .team-content-first{
    margin-left: -10px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
  }

  #about-img{
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;
 
  }

  #team-image{
    margin-left:80px;
    margin-right: 10px;
    align-items: center;
  }

  .img-team1, .img-team2{
    width: 400px;
    height: 250px;
  }
  .img-team1 img, .img-team2 img{
    width: 400px;
    height: 250px;
    object-fit: cover;
  }

  /*  */

  #journal-title{
  
    font-family: ABeeZee;
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 47px;
  }
  
  
  #journal-title span{
    font-family: ABeeZee;
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 47px;
  }

  .journal-content-title, .family-title, .consistent-title{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 32px;
  
  }
  

  .journal-content, .family-content, .consistent-content{
  
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
  }


  #col2-journal{
    margin-left: 0px;
  }

  /*  */

  .image-slide1 img {
    opacity: 0.2;
  } 
  
 .design-interior {
    opacity: 1;
  }


  .swiper-wrapper .image-slide1 img, .swiper-wrapper #image-slide1-first img{
    max-width: 300px !important;
    height: 400px !important;
    margin-left: -150px;
  }

  #swiper-slide1{
    max-width: 300px;
    height: 400px;
    margin-left: -150px;
  }

  .swiper-wrapper #image-slide1-first img{
    margin-left: -375px;
  }

  .swiper-wrapper #image-slide1-first .design-hover {
    margin-left: -320px;
  }

  #image-slide1{
    margin-left: -300px;
  }

  #image-slide-our-work{
    margin-left: -110px;
  }
  #image-slide-our-work1{
    margin-left: -410px;
  }

  .design-hover {
    width: 200px;
    height: 72px;
    margin-left: -120px;
  
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 40px;

    align-items: center;
    justify-content: center;
  }

  #hover-interior{
    margin-left: -20px;
  }

  #hover-interior4{
    margin-left: -40px;
  }

  #hover-interior3{
    margin-left: -150px !important;
  }

  /*  */

  #our-work-title{
    margin-left: 230px !important;
    font-family: ABeeZee;
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 47px;

  }

  #our-work-container{
    margin-left: -200px;
  }

  #our-services-title{
   
    font-family: ABeeZee;
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 47px;
  }
  
  #our-work-title span, #our-services-title span{
    margin-left: 5px;
    text-decoration: underline;
  
    font-family: ABeeZee;
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 47px;
  }


  #footer-content{display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

  }

  #services-work{
    margin-left: 140px;
  }

  #address-footer{
    margin-top: 50px;
    margin-left: 100px;

  }

  .address-link {
    max-width: none;
    width: 300px;
    margin-left: -180px;
  }

  #btn-footer{
    margin-top: 40px;
    margin-left: 100px;
  }

  #about-journal{
    margin-left: 130px;
  }



  /*  */

  #col-team{
    margin-top: 100px;
    margin-left: -50px;

  }

  .team-main{
    width: 176px;
    margin-top: -68px !important;
    margin-left: 330px ;
    text-align: right;
  
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
  
    color: #FFFFFF;
  
    opacity: 0.6;
  }

  /*  */
  .masthead-subheading{
    font-family: ABeeZee;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 60px;
  
    color: #FFFFFF;
    overflow: hidden;
    display: -webkit-box;
  
  }

  .masthead-subheading span{
    font-family: ABeeZee;
    font-style: italic;
    font-weight: normal;
    font-size: 50px;
    line-height: 60px;
    flex-wrap: wrap;
  
    color: #FFFFFF;
    text-decoration: underline;
  
  }

  /*  */

  #swiper-services{
    margin-left: 300px;
  }

  #services-img-content1,#services-img-content{
    max-width: 250px !important;
    height: 180px !important;
  }

  #services-img-content1 img,#services-img-content img{
    max-width: 250px !important;
    height: 180px !important;
  }
  
  .library-content{
    margin-left: 200px;
  }
  
  .library-content p i{
    width:50px; 
    height: 2px;
    margin-bottom: 8px;
    margin-right: 6px;
    
    border: none;
    background-color: #ffffff;
  }
  .library-content p{
    margin-top: 20px;
    text-align: left;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
  
    color: #FFFFFF;
    overflow: hidden;
    display: -webkit-box;
  
    opacity: 0.6;
  }
  
  .library-content div{
    width: 297px;
    margin-top: -2px;
    margin-right: 140px !important;
    font-size: 20px;
    line-height: 22px;

  
  }

  .swiper-pagination1{
    margin-top: 30px !important;
    margin-left: -300px !important;
  }

  .swiper-pagination1 .swiper-pagination-bullet{
    margin-top: 30px !important;
  }


#our-services-title{
  margin-left: -100px;
  text-align: center;
}


  #swiper-slide{
    margin-left: 0px !important;
  }

  #swiper-section5{
    margin-left: 300px;

  }

  .number{
    margin-top: -32px;
    margin-left: 240px;
  
  }


  #section-journal{
    margin-left: 15%;
  }

  #our-work-title{
    margin-left:0;
  }

  #services-img-content1{
    margin-left:345px !important;
  }

  #lib-content, #lib-cont{
    margin-left: 190px !important;
  }

  

  #swiper-section4 .swiper-pagination{
    margin-left: 0px !important;
  }


  #swiper-slide{
    margin-left: 8% ;
  }

  .design-interior {
    text-align: center;
    align-items: center;
    margin-left: 10px;
  }


      .slider-number{
        max-width: 30px;
        margin-left: 550px !important;
      }

      footer{
        padding: 0 20px;
      }

      #footer-content{
        flex-wrap: wrap;
      }

    #btn-footer{
      margin-left: 2px;
    }

    .brand{
      font-size: 30px !important;
      line-height: 35px;
    }

    .about-footer, .jurnal-footer, .services-footer, .work-footer{
      font-size: 16px !important;
      line-height: 20px !important;
    }

    #btn-footer a{
      align-items: center;
    
      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
    
      color: #FFFFFF;
    }

    .footer-button {
      margin-left: 50px;
      width: 141px !important;
      height: 40px !important;
    
    }

    #footer-content #logo-footer{
      margin-left: 0;
    }


}

@media (min-width: 768px) and (max-width: 991.98px) {
  
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}

  #navbarSupportedContent{
    width: 100% !important;
    background: #1C1C1C;
  }

  .navbar-toggler{
    margin-left: -300px !important;
  }

  .navbar-toggler-icon {
    margin-right: -30px !important;
}
  

  #navbarSupportedContent ul{
    margin-left: 300px;
  }

  .navbar{
      padding: 0 60px !important;
  }

  .ambitious-title{
    margin-left: 0;
    margin-right: 0;
  }

  .masthead-subheading{
    font-size: 60px;
    line-height: 75px;
  }

  .masthead-subheading span{
    font-size: 60px;
    line-height: 75px;
  }

  .young-married{
    margin-left: 150px;
    margin-right: -200px;

  }

  .ambitious-content{
    margin-left: 0;
    margin-right: 0;
  }

  /*  */
  /* ====== */
  #about-col{
    padding: 0;
  }

  .about-main{
    margin-left: 0;
    margin-right: 0;
    align-items: center;
  }

  #about-img{
    padding: 0 !important;
    margin-top: 50px !important;
    margin-left: -50px;
 
  }

  .img1 img, .img2 img{
    width: 550px;
    height: 350px;
  }

  #swiper-section4, #swiper-services{
    padding: 0 30px;
  }

  /* ======== */

  #team{
    display: block;
    padding-top: 350px;
    padding-left: 0;
    padding-right: 0;
    align-items: center;
    justify-content: center;
  }

  

  #team-image{
    max-width: none;
    padding: 0;
    align-items: flex-start;
    justify-items: left;
  }

  .img-team1, .img-team2{
    width: 550px;
    height: 350px;
  }
  .img-team1 img, .img-team2 img{
    width: 550px;
    height: 350px;
    object-fit: cover;
  }

  #col-team{
    padding: 0;
    margin-top: 100px;

  }

  .team-main, .great-team, .team-content{
    padding: 0 !important;
  }
/* ============== */

#section-journal .container{
  max-width: none !important;
  padding: 0;
  align-items: center;
  justify-content: center;
}

#journal-title{
  margin-left: 200px !important;
  align-items: center;
  justify-content: center;
}


#col1-journal, #col2-journal, #col3-journal{
  margin-left: 200px;
}

#row-content-journal{
  display: block;
  max-width: none;
  padding: 0;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.image-slide2 img {
  color: #FFFFFF;
}

.image-slide2 .design-interior {
  color: #FFFFFF;
}

#our-work-title{
  margin-left: 400px;
  align-items: center;
  text-align: center;
}
#our-work-title span{
  margin-right: -10px;
  align-items: center;
  text-align: center;
}

.swiper-pagination1{
  margin-left: 20px;
}
.swiper-pagination{
  margin-left: -190px;
}

#our-services-title p{
  margin-left: 35%;
  text-align: center;
}


  #swiper-slide{
    padding-left: 0 !important;
  }

  #swiper-section5{
    margin-left: 30%;

  }

  .number{
    margin-top: -32px;
    margin-left: 850px;
  
  }


  

  #swiper-section4 .swiper-pagination{
    margin-left: -300px;
  }

  .swiper-pagination{
    margin-left: 0;
  }

  #services-img-content1{
    margin-left: 525px !important;
  }

  #swiper-slide {
    margin-left: -5px !important;
  }


      .design-interior {
        text-align: center;
        align-items: center;
        margin-left: 10px;
      }


      .slider-number{
        max-width: 30px;
        margin-left: 850px;
      }

      #footer-content{
        flex-wrap: wrap;
      }


    #btn-footer{
      margin-top: 50px;
      margin-left: 2px;
      max-width: 991px !important;
      align-items: center;
      justify-content: center;
    }

    .image-slide1 img {
      opacity: 0.2;
    } 
    
   .design-interior {
      opacity: 1;
    }

  

    .footer-button{
      max-width: none;
      width: 991px !important;
    }

    #section-about{
      margin: auto;
      align-items: center;
      justify-content: center;
    }

    #row1-section-about{
      display: block !important;
      padding: 0;
      margin: auto;
      align-items: center;
      justify-content: center;
    }

    footer{
      padding: 0 20px !important;
    }

}

@media (min-width: 992px) and (max-width: 1199.98px) {
  
  
  .navbar{
    padding: 0 40px !important;

  }

      #about-col{
        padding: 0 45px;
      }

      /* .about-main{
        padding: 0 15px !important;
      } */

      .ambitious-title{
        margin-left: 0;
        margin-right: 0;
      }

      #section-about{
        padding: 0;
        flex-direction: column;
      }

      .ambitious-content{
        margin-left: 0;
        margin-right: 0;

      }

      #about-img{
        margin-top: 50px !important;
        padding: 0 40px;
      }

      #team{
        padding-top: 400px;
        padding-left: 400px;
      }

      #team-image{
        padding-right: 40px;
      }

      .img-team1, .img-team2{
        width: 563px;
        height: 412px;
      }
      .img-team1 img, .img-team2 img{
        width: 563px;
        height: 412px;
        object-fit: cover;
      }

      #col-team{
        padding: 0;
      }

      #team-image{
        margin-bottom: 100px;
      }

      #journal-title{
      margin-left: 28px;
      margin-right: 100px;
      text-align: center;
      }

      #row-content-journal{
      margin-left: 30px;
      }


      #our-work-title p{
      margin-left: 41%;
      text-align: center;
      }

      #our-services-title{
      margin-left: 264px !important;
      text-align: center;
      }


      #swiper-slide{
        margin-left: 12px !important;
      }

      #swiper-section5{
        margin-left: -340px;

      }

      .number{
        margin-top: -32px;
        margin-left: 814px;

      }

      #section-journal{
        padding: 0;
      }

      #our-work-title{
        margin-left: -50px;
      }

      #our-work-title {
        margin-left: 395px;
        margin-right: 395px;
      }

      #swiper-slide{
            margin-left: 20% ;
          }


    .design-interior {
      text-align: center;
      align-items: center;
      margin-left: 10px;
    }


    #swiper-services{
      margin-left: 100px;
    }

    #swiper-section4 .swiper-pagination {
      margin-left: 26px !important;
    }


    .swiper-pagination1{
      margin-left: -73px !important;
    }
  

    .slider-number{
      max-width: 30px;
      margin-left: 932px ;
    }

    #about-journal, #services-work, #address-footer{
      margin-left: 142px !important;
    }

    #btn-footer{
      margin-left: 0px !important;
    }

    #footer-container{
      padding: 70px 40px !important;
    }

    #footer-content{
      padding: 0 !important;
    }
      
}


