
@media (max-width: 575.98px) {
  .navbar-brand{
    padding-left: 600px !important;
  
  }
  
  #section-about{
    max-width: 575.98px;
    align-items: center !important;
  }

  #team{
    display: grid !important;
    align-items: center !important;
  }

  #about-col{
    align-items: center;
    margin: auto;
  }
  

}


@media (min-width: 576px) and (max-width: 767.98px) {
  .navbar{
    margin-left: 50px !important;
    margin-right: 50px !important;
  }

  #swiper-section5{
    margin-left: 30% !important;
  }

  .about-main, .ambitious-title, .ambitious-content{
    margin-left: 105px !important;
  }

  #team-image{
    margin-left: 20%;
    margin-bottom: 100px;
  }

  #section-journal{
    margin-left: 15%;
  }

  #our-work-title p{
    margin-left: -100px;
  }




  #swiper-slide{
        margin-left: 20% ;
      }


      .design-interior {
        text-align: center;
        align-items: center;
        margin-left: 10px !important;
      }

      .image1, .library-content{
        margin-left: 300px !important;
      }

      #logo-footer{
        margin-left: 30px;
      }

}


@media (min-width: 768px) and (max-width: 991.98px) {
    .navbar{
      margin-left: 50px !important;
      margin-right: 50px !important;
  }

  #about-col{
    margin-left: 10%;
  }

  .about-main{
    margin-left: 60%;
    margin-right: 40%;
    align-items: center;
  }

  .ambitious-title{
    margin-left: 15%;
    margin-right: 40%;
    align-items: center;
    text-align: center;
  }

  .young-married{
    margin-left: 150px;
    margin-right: -200px;

  }

  .ambitious-content{
    margin-left: 15%;
    margin-right: -150px;
    text-align: center;
    align-items: center;
  }

  #about-img{
    margin-top: 30px;
    margin-left: 15%;
  }

  #team{
    flex-direction: column;
  }

  #team-image{
    margin-left: -170px !important;
  }

.team-main{
  margin-left: 150px;
  text-align: center;
}

.great-team{
  margin-left: -40px;
  margin-right: 100px;
  align-items: center;
  text-align: center;
}

.team-content{
  margin-left: -100px;
  margin-right: 50px;
  align-items: center;
  text-align: center;
}

#journal-title{
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
}

#row-content-journal{
  margin-left: 30px;
}


#our-work-title p{
  margin-left: 41%;
  text-align: center;
}

#our-services-title p{
  margin-left: 35%;
  text-align: center;
}


  #swiper-slide{
    margin-left: -260px !important;
  }

  #swiper-section5{
    margin-left: -340px !important;

  }

  .number{
    margin-top: -32px !important;
    margin-left: 850px;
  
  }

  #col-team{
    margin-left: 16%;
  }
  #team-image{
    margin-left: 35px;
    margin-bottom: 100px;
  }

  #section-journal{
    margin-left: 15%;
  }

  #our-work-title{
    margin-left: -50px;
  }

  #swiper-slide{
        margin-left: 20% ;
      }


      .design-interior {
        text-align: center;
        align-items: center;
        margin-left: 10px !important;
      }

      #logo-footer{
        margin-left: 30px;
      }

      .slider-number{
        max-width: 30px !important;
        margin-left: 900px !important;
      }

      #footer-content{
        flex-wrap: wrap;
      }


}

@media (min-width: 992px) and (max-width: 1199.98px) {


  .navbar{
    margin-left: 50px !important;
    margin-right: 50px !important;
      }

      #about-col{
        margin-left: 10%;
      }

      .about-main{
        margin-left: 60%;
        margin-right: 40%;
        align-items: center;
      }

      .ambitious-title{
        margin-left: 10%;
        margin-right: 30%;
        align-items: center;
        text-align: center;
      }



      .ambitious-content{
        margin-left: 10%;
        margin-right: -300px;
        text-align: center;
        align-items: center;
      }

      #about-img{
        margin-top: 30px;
        margin-left: 15%;
      }

      #team{
        flex-direction: column;
      }

      #team-image{
        margin-left: -170px !important;
      }

      .team-main{
      margin-left: 150px;
      text-align: center;
      }

      .great-team{
      margin-left: -40px;
      margin-right: 100px;
      align-items: center;
      text-align: center;
      }

      .team-content{
      margin-left: -100px;
      margin-right: 50px;
      align-items: center;
      text-align: center;
      }

      #journal-title{
      margin-left: 100px;
      margin-right: 100px;
      text-align: center;
      }

      #row-content-journal{
      margin-left: 30px;
      }


      #our-work-title p{
      margin-left: 41%;
      text-align: center;
      }

      #our-services-title p{
      margin-left: 35%;
      text-align: center;
      }


      #swiper-slide{
        margin-left: -260px !important;
      }

      #swiper-section5{
        margin-left: -340px !important;

      }

      .number{
        margin-top: -32px !important;
        margin-left: 850px;

      }

      #col-team{
        margin-left: 16%;
      }
      #team-image{
        margin-left: 35px;
        margin-bottom: 100px;
      }

      #section-journal{
        margin-left: 15%;
      }

      #our-work-title{
        margin-left: -50px;
      }

      #swiper-slide{
            margin-left: 20% ;
          }


    .design-interior {
      text-align: center;
      align-items: center;
      margin-left: 10px !important;
    }

    #logo-footer{
      margin-left: 30px;
    }

    .slider-number{
      max-width: 30px !important;
      margin-left: 900px !important;
    }


      
}





