body{
  margin: 0;
}


@font-face {
  font-family: "Poppins";
  src: url(../font/Poppins-Regular.ttf);
  }

  @font-face {
    font-family: "Poppin";
    src: url(../font/Poppins-MediumItalic.ttf);
    }

  @font-face {
    font-family: "ABeeZee";
    src: url(../font/font/ABeeZee-Regular.ttf);
  }

header{
  width: 100%;
  height: 752px;
}

.header {
  position:absolute;
  height: 752px !important;
  background: #1C1C1C;
  width: 100%;
  background-color: rgba(49, 49, 49, 0.8);
  background: -moz-linear-gradient(top, rgba(49, 49, 49, 0.8) 10%,#1C1C1C 30%);
  background: -o-linear-gradient(top, rgba(49, 49, 49, 0.8) 10%, #1C1C1C 30%);
  background: -ms-linear-gradient(top, rgba(49, 49, 49, 0.8) 10%, #1C1C1C 30%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0.3, rgba(49, 49, 49, 0.8)),color-stop(2.5, #1C1C1C));
  opacity: 2.5;
  z-index: -1;

}

.background img{
  width: 100% !important;
  height: 752px !important;
  position:absolute;
  z-index: -2;
  object-fit: cover;
}

.background{
  width: 100% !important;
  height: 752px !important;
  position:absolute;
  z-index: -2;
}

/* Menu */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 40px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  transition: 0.3s;
  height: 27px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;

  color: #FFFFFF;

}

.aboutA{
  margin-top: 30px;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


/*  */

.nav{
    display: flex;
    align-items: center;
    position: fixed !important;
    left: 0;
    right: 0;
    width: 100% !important;
    height: 96px !important;
    z-index: 1000;
}

.active-menu {
  background-color: #1C1C1C;
}

.content_header .container{
  width: 885px;
  height: auto;
  padding: 0;
  margin-top: 199px;
  margin-bottom: 199px !important;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: center;
}

 .navbar{
  display: flex;
  max-width: 1240px;
  width: 100%;
  height: 49px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 24px;
  align-items: center;

  background: none;
}

.navbar-brand a{
  font-weight: bold ;
  color: #FFFFFF;

}

.navbar-brand{
  width: 143px;
  height: 45px;
  padding: 0 !important;
  margin-left: -16px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold !important;
  font-size: 30px !important;
  line-height: 45px !important;
  text-align: left;

  color: #FFFFFF;
}


.navbar-toggler{
  height: auto !important;
}

.row{
  flex-wrap: wrap;
}

.col-md-6{
  flex-wrap: wrap;
}

.collapse ul{
  padding: 0 !important;

}

.collapse ul li {
  height: 27px;
}

.collapse ul li a{
  height: 27px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;

  color: #FFFFFF;
}



 #about, #journal, #services, #our-work, #contact{
  margin-left: 40px;
}


#about{
  width: 60px;
  padding: 0;

}

#journal{
  width: 80px;
  padding: 0;
}

#services{
  width: 82px;
  padding: 0;
}

#our-work{
  width: 96px;
  text-align: left !important;
  padding: 0;
}


#contact-us{

  display: flex;
  margin-left: 40px;
  margin-right: -16px;
  align-items: center;
  justify-content: center;
}

.nav-item .contact{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 24px !important;
}

#contact-us a{
  width: 154px;
  height: 49px;
  align-items: center;
  justify-content: center;
  text-align: center;

  font-family: ABeeZee !important;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;

  color: #FFFFFF;
  text-decoration: none;
}


.masthead-subheading{
  max-width: 885px;
  height: auto;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;

  font-family: ABeeZee;
  font-style: normal;
  font-weight: normal;
  font-size: 68px;
  line-height: 80px;

  color: #FFFFFF;
  overflow: hidden;
  display: -webkit-box;

}

.masthead-subheading div{
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  display: -webkit-box;
}


.masthead-subheading span{
  display: block;
  margin: auto;
  align-items: center;
  font-family: ABeeZee;
  font-style: italic;
  font-weight: normal;
  font-size: 68px;
  line-height: 80px;
  flex-wrap: wrap;

  color: #FFFFFF;
  text-decoration: underline;

}

.young-married{
  display: flex;
  max-width: 388px;
  height: 84px;
  margin-top: 40px;
  margin-left: 249px;
  margin-right: 249px;
  align-items: center;
  flex-wrap: wrap;
  
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 42px;
  text-align: center;

  color: #FFFFFF;
  overflow: hidden;
  display: -webkit-box;
}

#discover-more{
  max-width: 163px;
  height: 30px;
  padding: 0;
  margin-top: 40px;
  text-decoration-line: underline;
  text-underline-offset: 2px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;

  color: #FFFFFF;
}


/* Start Main */

.main{
  margin-top: -2px;
  background: #1C1C1C;
  border: none;
  overflow: hidden;
}

 

.main .container{
  padding-top: 70px;
}

 #section-about{
  max-width: 1240px;
  height: auto;
  margin: auto;
  margin-top: 72px !important;
  align-items: center;
  flex-wrap: wrap;
}


#section-about #row1-section-about{
  display: flex !important;
  align-items: center;
  flex-wrap: wrap !important;
  max-width: 1240px;
  margin-top: -70px;
  margin-left: -15px;
  margin-right: -15px;
}

#about-col{
  max-width: 579px;
  height: auto;
  padding: 0;
  /* margin-left: -20px; */
}


.about-main{
  display: flex;
  width: 128px;
  height: 36px;
  align-items: center;
  margin-top: 27px;
  padding: 0;
  /* margin-left: -15px; */

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;

  color: #FFFFFF;
  opacity: 0.6;

}
 

.ambitious-title{
  flex-wrap: wrap;
  align-items: center;
  max-width: 572px;
  height: auto !important;
  margin-top: 13px;
  /* margin-left: -15px; */
  flex-wrap: wrap;
  
  font-family: ABeeZee;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 57px;

  color: #FFFFFF;
  overflow: hidden;
  display: -webkit-box;
}

.ambitious-title span{
  text-decoration: underline;
}


.ambitious-content{
  max-width: 579px !important;
  height: auto;
  margin-top: 30px;
  /* margin-left: -15px;
  margin-right: -15px; */

  flex-wrap: wrap;

  font-family: Poppins;
  font-weight: normal;
  font-size: 22px;
  line-height: 33px;
  align-items: center;
  color: #FFFFFF;
  overflow: hidden;
  display: -webkit-box;

  
}

.team-content .team-content-first{
  font-family: Poppin;
}

.ambitious-content .ambitious-content-first{
  flex-wrap: wrap;
  text-decoration-line: underline;
  font-family: Poppin;
  font-style: italic;
  font-weight: normal;
  font-size: 22px;
  line-height: 33px;
  color: #FFFFFF;
}


#about-img{
  margin-top: -382px !important;
  margin-left: 23px;
}



.img1 img{
  width: 610px;
  height: 386px;
  margin-top: 0px;
  object-fit: cover;
}

.img1{
  position:absolute;
  width: 610px;
  margin-left: -15px;
  z-index:2
}
.img2{
  position:absolute;
  width: 610px;
  z-index:1;
  top: 26px;
}

.img2 img{
  width: 610px;
  height: 386px;
  margin-left: 13px;
  object-fit: cover;
  opacity: 0.2;
  
}

.ImageOfAbout, .ImageOfAbout1{
  width: 610px;
}




/* === Our Team === */

#team{
  display: flex !important;
  align-items: center;
  flex-wrap: wrap !important;
  max-width: 1240px;
  margin-top: 119px;
  margin-left: -15px;
  margin-right: -15px;
}

.img-team1 img, .img-team2 img{
  width: 563px;
  height: 412px;
  object-fit: cover;
}

.img-team1{
  position:absolute;
  margin-left: 23px;
  z-index:2;
}

.img-team2{
  margin-top: 35px;
  margin-left: -15px;
  /* position:absolute; */
  opacity: 0.2;
  z-index:1;
}
.about-main i{
  width:50px; 
  height: 2px;
  margin-left: 6px;
  border: none;
  background-color: #ffffff;
}

.team-main i{
  width:50px; 
  height: 2px;
  margin-bottom: 8px;
  margin-right: 6px;
  
  border: none;
  background-color: #ffffff;
}

.team-main{
  width: 176px;
  margin-top: -68px !important;
  margin-left: 429px ;
  text-align: right;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;

  color: #FFFFFF;

  opacity: 0.6;
}

.great-team{
  max-width: 572px;
  height: auto;
  margin-top: 14px;
  margin-left: 32px;
  margin-right: -58px;
  text-align: right;
}

.great-team .team{
  flex-wrap: wrap;
  text-align: right;
  font-family: ABeeZee;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 57px;
  text-decoration-line: none;

  color: #FFFFFF;

}

.great-team .work{
  text-align: right;

  font-family: ABeeZee;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 57px;
  text-decoration-line: underline;
  color: #FFFFFF;
}

#col-team{
  max-width: 579px !important;
  height: auto;
  flex-wrap: wrap;
  align-items: center;
}

.team-content{
  margin-right: -56px;
  margin-left: 26px;

}

.team-content{
  display: flex;
  max-width: 579px !important;
  height: auto;
  margin-top: 30px;
  text-align: right;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 33px;

  color: #FFFFFF;
  overflow: hidden;
  display: -webkit-box;
}

.team-content span{
  flex-wrap: wrap;
  justify-content: left;
  margin-left: -3px;
  margin-right: 3px;
  /* margin-left: -36px; */
  font-family: Poppins;
  font-style: italic;
  font-weight: normal;
  font-size: 22px;
  line-height: 33px;
  text-decoration-line: underline;
  color: #FFFFFF;
}

.team-content .team-content-second{
  flex-wrap: wrap;
  text-align: right;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 33px;
  text-decoration-line: none;
  color: #FFFFFF;
}


/* ============== Section 2 - Journal ============*/
#section-journal{
  margin-top: 70px !important;
}
.section-journal .container{
  max-width: 1240px;
  height: auto;
  padding: 0;
  margin-top: 173px;
  /* align-items: center;
  justify-content: space-between; */
  flex-wrap: wrap;
}

#journal-title{
  max-width: 414px;
  height: auto;
  margin-top: -70px;
  margin-left: 0;

  font-family: ABeeZee;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 57px;
  

  /* display: flex;
  align-items: center; */

  color: #FFFFFF;
}


#journal-title span{
  margin-left: 10px;
  font-family: ABeeZee;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 57px;

  display: flex;
  align-items: center;

  color: #FFFFFF;
}

#section-journal .container #row-content-journal{
  max-width: 1240px !important;
  padding: 0 !important;
  flex-wrap: wrap;
}

#col2-journal{
  margin-left: 100px;
  margin-right: 99px;
}

#col1-journal, #col2-journal, #col3-journal{
  max-width: 347px;
  height: auto;
  margin-top: 50px;
  padding: 0;
}


/* #row-content-journal, .journal-content, .journal-content-title{
  margin-left: -15px;
} */

.journal-content-title{
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;

  display: flex;
  align-items: center;

  color: #FFFFFF;
  overflow: hidden;
  display: -webkit-box;

}

.journal-content, .family-content, .consistent-content{
    max-width: 347px;
    height: auto;
    /* margin-right: -15px; */
}

.journal-content{
  margin-top: 14px;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 33px;

  color: #FFFFFF;
  overflow: hidden;
  display: -webkit-box;
}

.journal-more, .family-more, .consistent-more{
  display: flex;
  margin-top: 30px;
  /* margin-left: -15px; */
}

.journal-more a, .family-more a, .consistent-more a{
  width: 107px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;

  display: flex;
  align-items: center;
  text-align: right;
  text-decoration-line: underline;

  color: #FFFFFF;
}

.journal-more .icon-arrow, .family-more .icon-arrow, .consistent-more .icon-arrow{
  margin-left: 6px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;

  display: flex;
  align-items: center;
  text-align: right;
  text-decoration-line: none;

  color: #FFFFFF;
}


.family-title{
  /* margin-left: -15px; */
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;

  display: flex;
  align-items: center;

  color: #FFFFFF;
  overflow: hidden;
  display: -webkit-box;

}

.family-content{
  margin-top: 14px;
  /* margin-left: -15px; */

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 33px;

  color: #FFFFFF;
  overflow: hidden;
  display: -webkit-box;
}

.consistent-title{
  /* margin-left: -15px; */
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;

  display: flex;
  align-items: center;

  color: #FFFFFF;
  overflow: hidden;
  display: -webkit-box;
}

.consistent-content{
  margin-top: 14px;
  /* margin-left: -15px; */

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 33px;

  color: #FFFFFF;
  overflow: hidden;
  display: -webkit-box;
}



/*=================== Start Section 4 - OUR WORK ================ */


#swiper-section4{
  max-width: 1240px;
  height: auto;
  margin-top: 121px !important;
  align-items:center;
  justify-content:flex-end !important;

  overflow: visible;

}


.swiper-slide {
  margin-top: 0px !important;
}


#our-work-container{
  max-width: 1600px;
  /* position: relative; */
  /* margin: auto; */
  margin-top: 86px;
  margin-left: -284px;
  overflow: visible;
}


#swiper-slide{
  margin-left: -76px !important;
} 



#our-work-title{
  max-width: 216px;
  height: auto;
  margin-bottom: 0px !important;
  align-items: center;
  margin: auto;
}

#our-work-title{
  height: 57px !important;
}

#our-work-title {
  display: flex;
  padding: 0;
  text-align: center;

  font-family: ABeeZee;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 57px;

  color: #FFFFFF;
}

#our-work-title span{

  height: auto;
  margin-left: 14px;
  align-items: center;
  text-align: center;
  text-decoration: underline;

  font-family: ABeeZee;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 57px;

  color: #FFFFFF;
}


.design-interior {
  transition: .6s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.image-slide1:hover .design-interior {
  opacity: 1;
}

.design-hover {
  width: 362px;
  height: 72px;
  margin-left: 6px;
  margin-right: 6px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
  align-items: center;
  text-align: center;

  /* display: flex;
  align-items: center; */

  color: #FFFFFF;
  overflow: hidden;
  display: -webkit-box;

}

.image-slide1{
  padding: 0 !important;
}


.image-slide1 img{
  opacity: 1;
}

.image-slide1 img:hover {
  opacity: 0.2;
}

.image-slide2 img{
  opacity: 1;
}

.image-slide2 img:hover {
  opacity: 0.2;
}

.image-slide2:hover .design-interior {
  opacity: 1;
}

.img-sectionOfWork{
  padding: 0;
  width: 480px !important;
  height: 682px !important;
  object-fit: cover !important;
}

.image-slide1 img, .image-slide2 img{
  width: 480px;
  height: 682px;
  object-fit: cover;
}

.image-slide3 img{
  height: 682px;
  object-fit: cover;
}

.image-slide3 img{
  opacity: 1;
}

.image-slide3 img:hover {
  opacity: 0.2;
}

.image-slide3:hover .design-interior {
  opacity: 1;
}



.image-slide1 img{
  width: 480px;
  height: 682px;
  object-fit: cover;
}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
  bottom: -14px !important;
}



.swiper-slide{
  width: 480px;
  height: 682px;
}


.swiper-container {
  width: 100%;
  height: 100%;
}



.swiper-slide {
  width: 480px !important;
  height: 682px;
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


#swiper-section4 .swiper-pagination{
  width: 164px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2px !important;
}

.swiper-pagination{
  margin-top: 12px !important;
 
}

.swiper-pagination {
  position:relative !important;
  /* text-align: center;
  transition: .3s opacity;
  transform: translate3d(0,0,0);
  z-index: 10; */
}

.swiper-pagination .dot-swiper{
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-pagination .swiper-pagination-bullet{
  /* margin-top: 33px !important; */
  margin-left: 16px !important;
  width: 9px;
  height: 9px;
  background: #d1d0d0;
  text-align: left;

}
.swiper-pagination-bullet-active{
  width: 24px !important;
  height: 24px !important;
  background: none !important;
  /* margin-top: 26px !important; */
  border-radius: 50%;
  border: 2px solid rgb(255, 255, 255);
  opacity: 1;
  transition: transform 250ms ease-in;
}

.slider-number {
  max-width: 48px;
  height: 36px;
  margin-top: -16px;
  margin-left: 1172px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-align: center;

  color: #FFFFFF;

}

/* End Section 4  */


/* ============== Section 5 - our services ===========*/

#swiper-services{
  max-width: 1240px;
  height: auto;
  margin-top: 116px;
  overflow: visible;
}

#our-services-title{
  display: flex;
  max-width: 280px;
  height: auto;
  padding: 0;

  font-family: ABeeZee;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 57px;
  align-items: center;
  justify-content: center;

  color: #FFFFFF;
}

#our-services-title span{
  margin-left: 14px;
  font-family: ABeeZee;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 57px;
  text-decoration: underline;
  align-items: center;

  color: #FFFFFF;

}

#swiper-section5{
  max-width: 1600px;
  margin-top: 86px;
  margin-left: -851px !important;
  overflow: visible !important;

  
}


.swiper-container-services {
  width: 100%;
  height: 100%;
}

.swiper-slide-services .swiper-slide-active{
  width: 432px;
  height: 279px;
}

.image1{
  width: 432px !important;
  height: 325px !important;
  object-fit: cover;
  
}

.image2, .image3, .image4, .image5{
  width: 431px !important;
  height: 325px !important;
  object-fit: cover;
}


.swiper-pagination1.swiper-pagination-bullet .swiper-pagination-bullet-active{
  width: 24px !important;
  height: 24px !important;
  margin-left: 200px;
  background: none !important;
  margin-top: 20px;
  border-radius: 50%;
  border: 2px solid rgb(255, 255, 255);
  background-color: var(--bottomColor);
  opacity: 1;
  transition: transform 250ms ease-in;
}

.swiper-pagination1 .swiper-pagination-bullet{
  width: 9px;
  height: 9px;
  margin-left: 16px !important;
  /* margin-top: -4px; */
}

.swiper-pagination1 .swiper-pagination-bullet-active{
  background: none !important;
}

.swiper-pagination1{
  display: flex;
  width: 164px !important;
  margin-top: 26px;
  margin-left: 2px;
  align-items: center !important;
  justify-content: center;
}

.swiper-pagination1 span{
  display: flex;
  align-items: center !important;
  justify-content: center;
  /* margin-top: 26px !important; */
  background: #d1d0d0 !important;
  width: 13px;
  height: 13px;
  
}

#services-img-content1{
  width: 432px !important;
  flex-direction: column ;
  margin-left: 440px;
}

#services-img-content{
  width: 431px !important;
  flex-direction: column ;
}

#swiper-services .swiper-wrapper{
  margin-left: -440px;
}

.library-content{
  margin-left: 5px;
  margin-left: -135px;
}

#lib-cont{
  margin-left: -140px;
}

#lib-content{
  margin-left: -174px !important;
}

.library-content p i{
  width:50px; 
  height: 2px;
  margin-bottom: 8px;
  margin-right: 6px;
  
  border: none;
  background-color: #ffffff;
}

.library-content .architec{
  max-width: 292px !important;
}
.library-content p{
  max-width: 229px;
  margin-top: 20px;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;

  color: #FFFFFF;
  overflow: hidden;
  display: -webkit-box;

  opacity: 0.6;
}

.library-content div{
  margin-top: -2px;
  text-align: left;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;

  color: #FFFFFF;
  overflow: hidden;
  display: -webkit-box;

}

.library{
  width: 297px;
}

.rest{
  width: 258px !important;
}



.number{
  max-width: 48px;
  height: 36px;
  margin-top: -30px !important;
  margin-left: 1172px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-align: center;

  color: #FFFFFF;

}

/* End section 5 */




/* Start Footer */

footer{
  max-width: 1240px;
  align-items: center;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 50px !important;
}

#footer-container{
  max-width: 1240px !important;
  height: auto;
  margin-bottom: 50px !important;
}

#footer-container hr{
  max-width: 78rem !important;
  border: 1px solid #FFFFFF;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: -70px !important;

}

#logo-footer{
  display: flex;
  max-width: 155px !important;
  height: 45px;
  padding: 0;
}

#footer-content{
  display: flex;
  flex-wrap: wrap;
  margin-top: 28px;
  max-width: 1240px !important;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 75px !important;
}

#logo-footer a{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

#logo-footer .brand{
  width: 143px !important;
  padding: 0 !important;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 45px;

  color: #FFFFFF;

}


#logo-footer .icon-brand{
  padding: 0;
  margin-bottom: 28px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 17px;
  text-decoration: none;


  color: #FFFFFF;
}

#about-journal{
  padding: 0;
  max-width: 59px !important;
  margin-left: 135px;
  margin-top: 0px !important;
}

/* #about-journal, .services-footer{
  margin-top: 9px;
} */

#services-work{
  padding: 0;
  max-width: 86px !important;
  margin-left: 135px;
  margin-top: 1px;
}


.about-footer a, .jurnal-footer a, .services-footer a, .work-footer a,  #address-footer span{
  padding: 0 !important;
  text-decoration: none !important;

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;

  color: #FFFFFF !important;

}


.about-footer a{
  padding: 0;
}

.jurnal-footer, .work-footer{
  margin-top: 19px;
}

.work-footer{
  font-family: 'Poppins', sans-serif;
  width: 88px;
  height: 27px;
  padding: 0;
}



#address-footer{
  display: flex;
  margin-left: 135px;
  padding: 0 !important;
  flex-wrap: wrap;
  max-width: 230px !important;
  height: 81px;
  margin-top: 1px;
}

#address-footer a{
  display: flex;
  max-width: 230px !important;
  height: 81px !important;
  padding: 0;
  text-decoration: none !important;
  color: #FFFFFF  !important;
}

.address-link .marker-content{
  max-width: 192px !important;
  height: 81px;
  margin-left: 19px;

}

.address-link .icon-span{
  padding: 0 !important;
  margin-top: -3px;
}

.address-link span img{
  width: 18px !important;
  height: 23px !important;
  /* font-size: 28px; */
}


/* Button get touch */

#btn-footer{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 171px !important;
  height: 55px !important;
  margin-top: 15px;
  margin-left: 134px;
}

#btn-footer .getLink{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 24px !important;
  margin-left: 0px;
  
}

#btn-footer a{
  align-items: center;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;

  color: #FFFFFF;
}


.footer-button {
  width: 171px !important;
  height: 55px !important;
  margin-left: -15px;
  border-radius: 0 !important;
  align-items: center;

}




/* End Footer */






